/* Import dependency (from node_modules) … */
@import "normalize.css";

$maxWidth: 1920px;
$padding: 1rem;
$paddingTop: 100vw/12;

// https://www.sitepoint.com/hsb-colors-with-sass/
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// colors
$blue: hsb(234, 92, 98);
$red: hsb(333, 87, 92);
$yellow: hsb(39, 91, 94);
$yellow-alpha: hsb(39, 91, 94, .15);
$green: hsb(111, 96, 96);


// Let's a go!!
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  // font-family: 'calluna sans', sans-serif;
  font-family: sans-serif;
  // font-size: .6vw;
  font-size: 16px;
  line-height: 1.25;
  hyphens: auto;
}

article,
aside,
figure,
footer,
header,
hgroup,
section,
main {
  display: block;
}

nav {
  .logo {
    color: #fff;
    display: block;
    background: url('../assets/img/2x/semikolon-logo-komplet@2x.png') 50% 50% no-repeat;
    background-size: contain;
    height: 10rem;
    margin-bottom: $paddingTop;
  }

  ul {
    list-style: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0;

    a {
      color: #fff;
    }
  }
}

img {
  width: 100%;
}

// Kellum Image Replacement
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.kellumIR {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}





// grid
.column {
  position: relative;
  display: block;
  padding: $padding;

  &.align-self-end {
    align-self: flex-end;
  }

  &.align-self-center {
    align-self: center;
  }

  @for $i from 1 through 12 {
    .columns > &.is-#{$i} {
      width: ($i / 12) * 100%;
      flex: none;
    }

    .columns > &.is-offset-#{$i} {
      margin-left: ($i / 12) * 100%;
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  // margin-left: (-$padding);
  // margin-right: (-$padding);
  // margin-top: (-$padding);

  // &:last-child {
  //   margin-bottom: (-$padding);
  // }

  // &:not(:last-child) {
  //   margin-bottom: calc(1.5rem - #{$padding});
  // }

  & > & {
    // margin-left: (-$padding);
    padding: 0;
    // margin-top: (-$padding);
    // width: calc(100% + #{$padding}) !important;
  }

  &.is-streched {
    align-items: stretch;
    height: 100%;
  }
}


// Type
h1 {
  font-size: 13.375rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: .1em;
  hyphens: none;
  
  .article2 & {
    font-size: 5.5rem;
    letter-spacing: 0;
  }
}

h2 {
  font-size: 3.75rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: .1em;
  hyphens: none;
  
  .article2 & {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0;
  }
}

p {
  letter-spacing: .01em;
  font-size: 1.5rem;
}

a {
  color: $blue;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.text {
  color: darken($blue, 30%);
  padding-top: $paddingTop/2;
  mix-blend-mode: hard-light;

  .article2 & {
    color: #111;
    mix-blend-mode: normal;
  }

  img {
    .article2 & {
      // margin-left: -($padding*6);
      // margin-right: -($padding*4);
    }
  }

  header {
    position: absolute;

    .article2 & {
      position: relative;
      padding-top: $paddingTop/2;
    }

    h2 {
      position: absolute;
      transform-origin: top left;
      transform: rotate(90deg) translateY(-3rem);
      
      .article2 & {
        transform-origin: center;
        transform: rotate(10deg) translateX(-8rem) translateY(1.5rem);
        color: $red;
      }
    }
  }

  p:nth-child(odd) {
    padding-left: $padding*2;
  }
}

.title {
  mix-blend-mode: color-dodge;
  color: $red;
  text-transform: uppercase;
  z-index: -1;

  .article2 & {
    mix-blend-mode: normal;
    color: #000;
    text-transform: none;
  }
}



// Rest of the css
.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url('../assets/img/cafeteria.jpg') 50% 50% no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;

  .article2 & {
    height: 75vh;
  }
}

.background-text {
  position: absolute;
  height: 100%;
  width: 100%;
  // background: pink;
  z-index: -1;
  left: 0;
  overflow: hidden;
  
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
    p {
      position: absolute;
      width: 1000%;
      text-align: center;
      margin: 0;
      padding: 0;
      hyphens: none;
    }
}

.root {
  width: 100%;
  
}

.has-background-white {
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: $maxWidth;
  position: relative;
  display: block;
  width: 100%;
}

header.root {
  height: 100vh;
  padding-top: $paddingTop;
  color: #fff;

  .article2 & {
    height: 75vh;
  }

  > .container {
    height: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $blue;
    opacity: .75;
    z-index: -1;
    mix-blend-mode: multiply;
    
    .article2 & {
      background: $green;
      height: 75vh;
      mix-blend-mode: lighten;
    }
  }
   
    .title {
      position: absolute;
      line-height: 1.2;
      width: 100%;

      h1 {
        position: absolute;
        left: 100%;
        transform: rotateZ(90deg) translateY(3rem);
        transform-origin: top left;
        
        .article2 & {
          left: 0;
          transform: rotateZ(-10deg) translateY(-3rem);
          transform-origin: center;
        }
      }
    }
    
    .intro {
      font-size: 2.25rem;
      margin-bottom: 10%;
      font-weight: 400;
      
      .article2 & {
        transform: rotateZ(-7deg);
        color: #000;
      }
    }

    .author {
      position: absolute;
      font-weight: 100;
      font-variant-caps: petite-caps;
      font-size: 1.5rem;
      left: ((1/12)*6) * 100%;

      strong {
        font-weight: 600;
      }

      span {
        display: block;
      }

      .name {
        padding-left: $padding;
      }
    }
}

main.root {
  background: $yellow-alpha;

  .article2 & {
    background: transparent;
  }
}

footer {
  // background: pink;
  margin: $paddingTop 0;

  nav {
    background: yellow;
    transform: rotateZ(-15deg);
    line-height: 1.5;
    
    ul {
      padding: $padding*0.25 $padding;
    }

    li {
      display: inline;
    }

    a,
    li {
      font-weight: 600;
      color: #111;
    }

    a {
      &:focus,
      &:hover {
        color: magenta;
        text-decoration: none;
      }
    }
  }
}